[Unit]
Description=RGB Matrix UDP Receiver
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Nice=-10
ExecStart=/usr/local/bin/rgb_matrix_udp_receiver
Restart=on-failure
RestartSec=10
StartLimitInterval=5
StartLimitBurst=3
BlockIOAccounting=yes
CPUAccounting=yes
MemoryAccounting=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
